/.project
/.pydevproject
/.idea
/.settings
/doc/build
*.pyc
*reports/
*application_generated_data_files/
*build/
*dist/
*egg-info/
MANIFEST
/.cache/
language.settings.xml
spynnaker/pyNN/models/.DS_Store
spynnaker/pyNN/models/neural_projections/.DS_Store
neural_modelling/.settings/language.settings.xml
