/.project
/.pydevproject
/.idea
.settings/
/doc/build
*.pyc
*reports/
*application_generated_data_files/
*build/
*dist/
*egg-info/
MANIFEST
/.cache/
.DS_Store
.coverage
/.pytest_cache
*.pkl
*.pickle
*.connections
*.npy
simple_example.png
*.log
*.dat
*.data
*.data2
*.csv
