[Reports]
# If reportsEnabled is false, no text reports are written.
writeSynapticReport = False
# Note: graphviz is required to draw the graph
draw_network_graph = False

[Simulation]
# Maximum spikes per second of any neuron (spike rate in Hertz)
spikes_per_second = 30

# The number of standard deviations from the mean to account for in
# the ring buffer in terms of how much safety in precision vs overflowing the
# end user is willing to risk
ring_buffer_sigma = 5

# The amount of space to reserve for incoming spikes
incoming_spike_buffer_size = 256

[Machine]
#-------
machine_time_step = 1000
time_scale_factor = None

[Mapping]
# Algorithms below
# pacman algorithms are:
# Basic_dijkstra_routing, RadialPlacer, BasicPlacer, ConnectiveBasedPlacer,
# BasicTagAllocator, BasicPartitioner, PartitionAndPlacePartitioner,
# BasicRoutingInfoAllocator, BasicDijkstraRouting,
# MallocBasedRoutingInfoAllocator, GraphEdgeFilter, EdgeToNKeysMapper

application_to_machine_graph_algorithms = PartitionAndPlacePartitioner
machine_graph_to_machine_algorithms = GraphEdgeFilter,OneToOnePlacer,RigRoute,BasicTagAllocator,FrontEndCommonEdgeToNKeysMapper,MallocBasedRoutingInfoAllocator,BasicRoutingTableGenerator,MundyOnChipRouterCompression
machine_graph_to_virtual_machine_algorithms = GraphEdgeFilter,OneToOnePlacer,RigRoute,BasicTagAllocator,FrontEndCommonEdgeToNKeysMapper,MallocBasedRoutingInfoAllocator,BasicRoutingTableGenerator,MundyRouterCompressor

[MasterPopTable]
# algorithm: {2dArray, BinarySearch, HashTable}
generator = BinarySearch
#generator = 2dArray

[Buffers]
# Host and port on which to receive buffer requests
receive_buffer_port = None
receive_buffer_host = 0.0.0.0

# Buffered recording can be enabled below.  Note that spike source array
# recording is always buffered.
enable_buffered_recording = False

# These values can be adjusted to set the maximum amount of SDRAM per core
# that will be used for the various neuron parameters to be recorded.  This
# will affect how many neurons can fit on a chip.
spike_buffer_size = 1048576
v_buffer_size = 1048576
gsyn_buffer_size = 2097152

# Advanced parameters to further control buffering
buffer_size_before_receive = 16384
time_between_requests = 50

minimum_buffer_sdram = 1048576

[Mode]
violate_1ms_wall_clock_restriction = False

[Database]
create_routing_info_to_neuron_id_mapping = True

