
[Buffers]
# Host and port on which to receive buffer requests
receive_buffer_host = 0.0.0.0

# Buffered recording can be enabled below.  Note that spike source array
# recording is always buffered.
enable_buffered_recording = True

# These values can be adjusted to set the maximum amount of SDRAM per core
# that will be used for the various neuron parameters to be recorded.  This
# will affect how many neurons can fit on a chip.
spike_buffer_size = 1048576
v_buffer_size = 1048576
gsyn_buffer_size = 2097152

# Advanced parameters to further control buffering
buffer_size_before_receive = 1000
time_between_requests = 50

use_auto_pause_and_resume = False
minimum_buffer_sdram = 10000