[Machine]
machineName = $SPINNAKER_BOARD_ADDRESS
version = ${SPINNAKER_BOARD_VERSION:-5}

[Database]

[Simulation]

[Buffers]

[Logging]
instantiate = True
default = info
debug =
info =
warning =
error =
critical =
