# Copyright (c) 2020 The University of Manchester
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# This workflow will install Python dependencies, run tests, lint and rat with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: C Actions
on: [push]
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Checkout SupportScripts
      uses: actions/checkout@v2
      with:
        repository: SpiNNakerManchester/SupportScripts
        path: support
    - name: Set up Python 3.8
      # Note: Python is needed for spinn_utilities.make_tools when building
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install Ubuntu dependencies
      uses: ./support/actions/apt-get-install
      with:
        packages: doxygen gcc-arm-none-eabi
    - name: Checkout SpiNNaker Dependencies
      uses: ./support/actions/checkout-spinn-deps
      with:
        # Note: SpiNNUtils needed for spinn_utilities.make_tools
        repositories: spinnaker_tools spinn_common SpiNNFrontEndCommon SpiNNUtils
    - name: Set environment variables
      run: |
        echo "SPINN_DIRS=$PWD/spinnaker_tools" >> $GITHUB_ENV
        echo "NEURAL_MODELLING_DIRS=$PWD/neural_modelling" >> $GITHUB_ENV
    - name: Install SpiNNUtils
      run: python setup.py install
      working-directory: SpiNNUtils

    - name: Lint C code using Vera++
      uses: ./support/actions/vera
      with:
        base-dir: neural_modelling/src

    - name: Build C dependencies
      run: |
        make -C $SPINN_DIRS
        make -C spinn_common install
        make -C SpiNNFrontEndCommon/c_common install

    - name: Build C code
      run: make
      working-directory: neural_modelling
      env:
        CFLAGS: -fdiagnostics-color=always

    - name: Build C code in DEBUG mode
      run: make SPYNNAKER_DEBUG=DEBUG
      working-directory: neural_modelling
      env:
        CFLAGS: -fdiagnostics-color=always

    - name: Build documentation using doxygen
      run: make doxysetup doxygen
      working-directory: neural_modelling
